13 - Sistema RAG estándar PostgreSQL.json
{
  "name": "13 - Sistema RAG estándar PostgreSQL",
  "nodes": [
    {
      "parameters": {
        "content": "## Alimentar la base de datos\n",
        "height": 656,
        "width": 576,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        784,
        192
      ],
      "id": "3a9bde7b-36c9-4a70-80e4-78211dceecf5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Consumo de esa base de datos\n",
        "height": 656,
        "width": 912,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1488,
        192
      ],
      "id": "832eb377-6257-4414-a405-6b338cb4f06c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1360,
        944
      ],
      "id": "5e67f013-58f9-4689-ade8-5b6c299c136c",
      "name": "Embeddings OpenAI"
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1088,
        528
      ],
      "id": "f45ff2ae-05a9-4157-9302-33f270a87542",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 250,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        864,
        704
      ],
      "id": "9da8b510-0857-42e9-891e-32b055b44c16",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        1552,
        288
      ],
      "id": "d6256fe0-01b9-488c-858e-e196a081b9fa",
      "name": "When chat message received",
      "webhookId": "15260575-5acf-4be8-af96-ab49581cc599"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=# Rol: Asistente Legal\n\n## Descripción\nEres un asistente legal diseñado para ayudar a un abogado a consultar información contenida en documentos legales internos.  \nDebes recuperar, analizar y entregar respuestas precisas, claras y fundamentadas basadas únicamente en los documentos disponibles.  \nMantén siempre un tono profesional y formal, y prioriza la exactitud legal en todas tus respuestas.  \n\nTus respuestas deben de ser cortas y puntuales.\n\nSi no conoces la respuesta, responde que no dispones de la información.\n\n\n\n## Capacidades\n- Búsqueda y recuperación de información legal relevante.  \n- Respuestas concisas y con fundamento en los documentos disponibles.  \n- Inclusión de referencia del documento utilizado para responder.  \n- Identificación de ausencia de información en los documentos.  \n- Mantener confidencialidad y precisión en todas las respuestas.  \n\n\n## Comportamiento\n1. Recepción de la consulta: Recibe la pregunta o solicitud del abogado.  \n2. Búsqueda de información en la base de conocimiento para encontrar información relevante en los documentos.  \n3. Generación de la respuesta:  \n   - Si encuentras la información:  \n     - Proporciona un resumen conciso, claro y preciso.  \n     - Incluye la referencia del documento donde encontraste la información (nombre o identificación del documento y sección/cláusula si aplica).  \n   - Si no encuentras la información:  \n     - Responde únicamente con:  \n       ```\n       No puedo encontrar la respuesta en los recursos disponibles.\n       ```\n4. Confidencialidad: No reveles información fuera de lo que esté contenido en los documentos.  \n5. Tono: Profesional, formal, claro y directo.  \n\n## Ejemplo\nPregunta del abogado:  \n> ¿Cuál es el procedimiento de terminación anticipada del contrato de arrendamiento?\n\nRespuesta del asistente (ejemplo):  \n> Según el Contrato de Arrendamiento - Cláusula 12, el contrato puede ser terminado anticipadamente por cualquiera de las partes notificando con al menos 30 días de antelación y cumpliendo con el pago proporcional de las obligaciones pendientes.  \n> Referencia: Contrato_Arrendamiento_2025.pdf, Cláusula 12.  "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1840,
        288
      ],
      "id": "a2b00ea8-f664-48fe-ae6d-399d300dab30",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1616,
        688
      ],
      "id": "242b5b4b-d34b-4b5d-8dde-8b3af77e0461",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1856,
        688
      ],
      "id": "f5675644-504f-49ba-9526-20daa75a9c91",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "insert",
        "embeddingBatchSize": 250,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        864,
        320
      ],
      "id": "1cdce0e1-99c1-4aa2-8eab-8da513778796",
      "name": "Postgres PGVector Store"
    },
    {
      "parameters": {
        "description": "Usa esta herramienta para buscar respuestas en la base de datos vectorial."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        2064,
        512
      ],
      "id": "7eeec126-1f9e-403c-b571-6732604f0cc2",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2272,
        704
      ],
      "id": "24f45efe-436c-4e3c-9fb6-2a050772e818",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        2000,
        688
      ],
      "id": "a7b46d3a-c89d-47e7-ba4c-30e8e75ab3fa",
      "name": "Postgres PGVector Store1"
    },
    {
      "parameters": {
        "content": "## Selección de documentos",
        "height": 672,
        "width": 2000,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1248,
        192
      ],
      "id": "893ba228-a3da-40f1-8aa4-12cfc70a2ec0",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        640,
        320
      ],
      "id": "3b1c9b77-e9a8-40e5-a428-2502796c3f51",
      "name": "Descargar archivo"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1200,
        336
      ],
      "id": "1bd2a393-1932-4cff-96f7-f6e87926642d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1200,
        624
      ],
      "id": "cc4df0d5-f833-4f4c-8559-14faa920bcbc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1O6l-EaZOOT5eBtd-vP6NpWcCQs6UXkTd",
            "mode": "list",
            "cachedResultName": "Documentos-Legales",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1O6l-EaZOOT5eBtd-vP6NpWcCQs6UXkTd"
          },
          "includeTrashed": false
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -896,
        464
      ],
      "id": "603649f9-f624-466b-9c36-b20ab7b0beff",
      "name": "Buscar archivos / directorios"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e84a28f6-31c5-422c-9c1d-7fd98d509b67",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/vnd.google-apps.folder",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -656,
        464
      ],
      "id": "b8b841f2-598c-40e8-9211-caa526de17fa",
      "name": "¿Es un archivo?"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          }
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -448,
        576
      ],
      "id": "ec7c0448-926a-4223-bb08-b8683bbaed42",
      "name": "Search files and folders"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select count(*) as ingested from public.ingested_files\nwhere file_id = '{{ $json.id }}' and md5_checksum ='{{ $json.md5Checksum }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -448,
        288
      ],
      "id": "f37049cd-be0c-4166-84e2-4b3190f0ae36",
      "name": "Obtener carga previa"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "195bdf5e-2801-43f0-a386-5663c31bc175",
              "leftValue": "={{ $json.ingested }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -272,
        288
      ],
      "id": "807f6327-1a10-4637-a07f-24d9e7cc5b7d",
      "name": "¿Fue previamente cargado?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        16,
        32
      ],
      "id": "69fa33c6-c594-421b-9cf5-00e30d637201",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f36f267-1a48-4a68-98a1-f7f2988fcd83",
              "name": "id",
              "value": "={{ $('¿Es un archivo?').item.json.id }}",
              "type": "string"
            },
            {
              "id": "24d5d0a0-2be5-420a-baea-60a21e8744ea",
              "name": "md5Checksum",
              "value": "={{ $('¿Es un archivo?').item.json.md5Checksum }}",
              "type": "string"
            },
            {
              "id": "75fd38a0-0b49-44e4-9747-add47fc645b8",
              "name": "mimeType",
              "value": "={{ $('¿Es un archivo?').item.json.mimeType }}",
              "type": "string"
            },
            {
              "id": "4b5083fc-8fc7-48af-82d3-b3e399bc114e",
              "name": "modifiedTime",
              "value": "={{ $('¿Es un archivo?').item.json.modifiedTime }}",
              "type": "string"
            },
            {
              "id": "66dccab1-a24d-4956-9fae-b33657b8fd80",
              "name": "name",
              "value": "={{ $('¿Es un archivo?').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        304
      ],
      "id": "45f809d8-e608-4c70-bec4-1336428db63b",
      "name": "Extraer variables"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete from n8n_vectors where file_id= '{{ $json.id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        64,
        512
      ],
      "id": "d7c5a382-d81e-49d9-a9bb-dee1b5c7271a",
      "name": "Borrar referencias",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        224,
        320
      ],
      "id": "20541bee-4691-4932-a508-53dbe2c4276b",
      "name": "Esperar eliminación"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ingested_files",
          "mode": "list",
          "cachedResultName": "ingested_files"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "file_id": "={{ $json.id }}",
            "name": "={{ $json.name }}",
            "mime_type": "={{ $json.mimeType }}",
            "md5_checksum": "={{ $json.md5Checksum }}",
            "modified_time": "={{ $json.modifiedTime }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mime_type",
              "displayName": "mime_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "md5_checksum",
              "displayName": "md5_checksum",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "modified_time",
              "displayName": "modified_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_ingested",
              "displayName": "last_ingested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        448,
        320
      ],
      "id": "e84d85b6-3c85-41b4-9c8a-3439536cc512",
      "name": "Insertar documento"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE n8n_vectors\nSET file_id = '{{ $('Extraer variables').item.json.id }}'\nWHERE metadata->'loc'->'lines' = '{{ $json.metadata.loc.lines.toJsonString() }}' and file_id is null",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        576,
        640
      ],
      "id": "f767acaf-4ffd-4c72-978b-7d20620ad771",
      "name": "Actualizar file_id en vectores"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        576,
        912
      ],
      "id": "2e46fc58-0fe5-4031-a609-3eebab54c44c",
      "name": "Termina proceso"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Descargar archivo": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Buscar archivos / directorios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Buscar archivos / directorios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar archivos / directorios": {
      "main": [
        [
          {
            "node": "¿Es un archivo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es un archivo?": {
      "main": [
        [
          {
            "node": "Obtener carga previa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "¿Es un archivo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener carga previa": {
      "main": [
        [
          {
            "node": "¿Fue previamente cargado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Fue previamente cargado?": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extraer variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer variables": {
      "main": [
        [
          {
            "node": "Borrar referencias",
            "type": "main",
            "index": 0
          },
          {
            "node": "Esperar eliminación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Borrar referencias": {
      "main": [
        [
          {
            "node": "Esperar eliminación",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Esperar eliminación": {
      "main": [
        [
          {
            "node": "Insertar documento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar documento": {
      "main": [
        [
          {
            "node": "Descargar archivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "main": [
        [
          {
            "node": "Actualizar file_id en vectores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar file_id en vectores": {
      "main": [
        [
          {
            "node": "Termina proceso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2e95496f-062f-4c06-b117-f7d0023cf01a",
  "meta": {
    "instanceId": "915fa55c63bf3fc5782b4941312bb481268cb75daccb4f515df924553f308e78"
  },
  "id": "lZFW1hbp9a0RINRA",
  "tags": []
}